@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185, 86%, 6%;
    --foreground: 186, 89%, 93%;

    --card: 40, 23%, 3%;
    --card-foreground: 186, 89%, 93%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 40, 23%, 3%;
    --primary-foreground: 186, 89%, 93%;

    --secondary: 261, 90%, 31%;
    --secondary-foreground: 186, 89%, 93%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 286, 89%, 56%;
    --accent-foreground: 186, 89%, 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 186, 89%, 93%;
    --input: 186, 89%, 93%;
    --ring: 186, 89%, 93%;
    --radius: 0.5rem;
  }
  .dark {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  .light {
    background-color: hsl(var(--foreground));
    color: hsl(var(--foreground));
  }
}
